<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="schedule">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="speakers">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Deals</ion-label>
    </ion-tab-button>

   

    <ion-tab-button tab="about">
      <ion-icon name="stats"></ion-icon>
      <ion-label>Charts</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
