$categories: (
  ionic: var(--ion-color-primary),
  angular: #ac282b,
  communication: #8e8d93,
  tooling: #fe4c52,
  services: #fd8b2d,
  design: #fed035,
  workshop: #69bb7b,
  food: #3bc7c4,
  documentation: #b16be3,
  navigation: #6600cc
);

@each $track, $value in map-remove($categories) {
  ion-item-sliding[track='#{$track}'] ion-label {
    border-left: 2px solid $value;
    padding-left: 10px;
  }
}


.date-picker-header{
  text-align: center;
  display: inherit;
  color: #fff;
}

.card-header{
color: rgb(269,86,26);
text-align: center;
font-size: 20px;
font-weight: 450;
}

.card-content{
  --background:#fff;
  background-color: #fff;
  font-size: 28px;
}

.logo-title{
  font-size:28px;
  text-align:center;
  font-weight: 600;
  display: block;
  color:#f9f1f1;
  margin: 15px 0px 25px 0px;
  font-family: RooneySans-Regular, "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;
}

.logo{
text-align:center;
display: block;
margin: 15px 0px 10px 0px;
}