<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>

    
    <ion-item>
      <ion-datetime class="date-picker-header" displayFormat="MMMM" pickerFormat="MMMM" [(ngModel)]="myDate"></ion-datetime>
    </ion-item>

    <ion-buttons slot="end">
      <ion-button (click)="presentFilterlist()">
        <ion-icon ios="ios-add-circle-outline" color="dark" md="md-add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

 
</ion-header>


<ion-content fullscreen>
<div class="ion-padding">
    <ion-label class="charts-header">Charts</ion-label>
  <ion-card>
    <ion-card-header class="chart-header">
      Deals
    </ion-card-header>
    <ion-card-content>
      <canvas #barCanvas class="bar-canvas"></canvas>
    </ion-card-content>
  </ion-card>

 

  <ion-card>
    <ion-card-header class="chart-header">
      Commisions
    </ion-card-header>
    <ion-card-content>
      <canvas #lineCanvas class="line-canvas"></canvas>
    </ion-card-content>
  </ion-card>
</div>

</ion-content>
