.about-header {
  background-color: #222;
  padding: 16px;
  width: 100%;
  height: 30%;
  text-align: center;
}

.about-header img {
  max-height: 100%;
}

.about-info p {
  color: var(--ion-color-dark);
  text-align: left;
}

.about-info ion-icon {
  margin-inline-end: 32px;
}

.ios .about-info {
  text-align: center;
}

.test{
color: red;
background-color: black;
}

.charts-header{
  color:#fff;
  text-align:center;
  font-size: 20px;
  font-weight:600;
  display:inherit;
}

.date-picker-header{
  text-align: center;
  display: inherit;
  color: #fff;
}
.line-canvas{
  color:#fff;
}

.chart-header{
  color: rgb(269,86,26);
  text-align: center;
  display: inherit;
  font-weight: 500;
}