ion-item {
  --transition: unset;
}

.active {
  --color: var(--ion-color-primary);
  --background: rgba(var(--ion-color-primary-rgb), 0.12);
  --background-hover: rgba(var(--ion-color-primary-rgb), 0.16);
  --background-focused: rgba(var(--ion-color-primary-rgb), 0.24);

  ion-icon {
    color: inherit;
  }
}

ion-content{
  --background: #053365 !important;
}
:root {
  
  --ion-color-new-tint: #78c288;
}

ion-header > ion-toolbar{
--background: rgb(269,86,26);

}

ion-header > ion-toolbar > ion-item{
  --background: rgb(269,86,26);
  --background-activated: rgb(269,86,26);
    --background-focused: rgb(269,86,26);
    --background-hover: rgb(269,86,26);
    --border-color:rgb(269,86,26);
    text-align:center;
  }

 
  
