<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button *ngIf="ios" (click)="dismiss()">Cancel</ion-button>
      <ion-button *ngIf="!ios" (click)="selectAll(false)">Reset</ion-button>
    </ion-buttons>

    <ion-title>
      My Deals
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="applyFilters()" strong>Done</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-list [lines]="ios ? 'inset' : 'full'">
   

    <ion-item *ngFor="let dealer of dealsprofile" [attr.track]="dealer.name | lowercase">
      <ion-icon slot="start" name="star" color="medium"></ion-icon>
      <ion-label class="ion-text-wrap">{{dealer.name}}
        <br>
          <ion-note color="danger">{{dealer.vehicletype}}</ion-note>
      </ion-label>
      
      <ion-label>{{dealer.mob}}</ion-label>
      <ion-note slot="end" color="danger">{{dealer.amount}}</ion-note>
      
    </ion-item>

  </ion-list>

</ion-content>


